name: "Delta Flow Tests"
on: [pull_request]
jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        scala: [ 2.12.10 ]
    env:
      SCALA_VERSION: ${{ matrix.scala }}
      SPARK_LOCAL_IP: localhost
    steps:
      - uses: actions/checkout@v3
      - name: Cache Scala, SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2
            ~/.cache/coursier
          key: build-and-test-scala
      - name: Install Java 8
        uses: actions/setup-java@v1
        with:
          java-version: '8'
      - name: Run tests
        run: sbt coverage test
      - name: Coverage Report
        run: sbt coverageReport
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Formatting
        run: sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck
